{% extends "base.html" %}
<!-- {% load cache %} -->
{% block title %} Последние обновления {% endblock %}
{% block content %}

<main role="main" class="container">
    {% include 'menu.html' with index=True%}
    <div class="row">
        <div class="col-md mt-3">
            <h1>Последние обновления на сайте</h1>
            <!-- {% cache 20 index_page page %} -->
                {% for item in page %}
                    {% include 'post_item.html' with post=item %}
                {% endfor %}
            <!-- {% endcache %} -->

            {% if page.has_other_pages %}
                {% include 'paginator.html' with items=page paginator=paginator %}
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}